<% if AppConfig[:pui_max_concurrent_pdfs] > 0 %>
    <%= form_tag(app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/pdf"), method: 'post', :id => 'print_form') do %>
        <%= hidden_field_tag(:base_token, SecureRandom.hex) %>
        <%= hidden_field_tag(:token, "") %>
        <button id="print_button" class="btn btn-default page_action print">
            <i class="fa fa-file-pdf-o fa-3x"></i><br/><span class="print-label"><%= t('actions.print') %></span><span class="generating-label" style="display: none"><%= t('actions.print-generating') %></span>
        </button>
    <% end %>
<% end %>

<% if record['finding_aid_status'] %>
    <% if record['finding_aid_status'] == "completed" %>
        <% if record['json']['ead_location'] %>
            <a id="handle_findingaid__button" class="btn btn-default page_action print" href="<%= record['json']['ead_location'] %>" target="_blank">
                <i class="fa fa-file-pdf-o fa-3x"></i><br/><span class="print-label">Finding Aid</span>
            </a>
        <% else %>
            <button id="handle_findingaid__button" class="btn btn-default page_action print disabled">
                <i class="fa fa-file-pdf-o fa-3x"></i><br/><span class="print-label">Missing ead_location: <%= record['json']['ead_location'] %></span>
            </button>
        <% end %>
    <% else %>
        <button id="handle_findingaid__button" class="btn btn-default page_action print disabled">
            <i class="fa fa-file-pdf-o fa-3x"></i><br/><span class="print-label">No Finding Aid completed: <%= record['finding_aid_status'] %></span>
        </button>
    <% end %>
<% else %>
    <button id="handle_findingaid__button" class="btn btn-default page_action print" disabled>
        <i class="fa fa-file-pdf-o fa-3x"></i><br/><span class="print-label">No Finding Aid status found</span>
    </button>
<% end %>
