<%#
  # most recent file version: v3.4.0
  # https://github.com/archivesspace/archivesspace/blob/v3.4.0/public/app/views/welcome/show.html.erb
%>
<%# BEGIN BC EDIT - Libcal Hours Widget scripts%>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
<script src="https://libcal.bc.edu/js/hours_grid.js?002"></script> 

  <script>
    $(function(){ 
      var week507 = new $.LibCalWeeklyGrid( $("#s-lc-whw507"), { iid: 609, lid: 507, systemTime: false }); 
    });
  </script> 
<%# END BC EDIT%>

<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div><%= t('brand.welcome_blurb').html_safe %></div>
  </div>
</div>

    <%# BEGIN BC EDIT - remove title and subject_text from search dropdown %>
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
           #["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           #["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>
    <%# END BC EDIT %>


  <div class="row">
    <div class="col-sm-12">
        <div> <%= t('brand.welcome_message').html_safe %> </div>
    </div>
  </div>

  <div id="whats-in-container">
      <h2><%= t('repository.what') %> </h2>
      <div>
        <ul class="list-inline">
    <% @badges.each do |type| %>
    <%= render partial: 'repositories/badge', locals: {:type => type} %>
    <% end %>
        </ul>
      </div>

  </div>
<div class="row">
    <div class="col-sm-12">
        <div> <%= t('brand.repository_details') %> </div>
    </div>
  </div>
  <div class="abstract">
    <%= render partial: 'repositories/repository', locals: {:result => @result,  :full => false} %>

<div class="row">
    <div class="col-sm-12">
        <div> <%= t('brand.location') %> </div>
    </div>
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=200&amp;hl=en&amp;q=john j burns library&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
      </iframe>
    </div>
    <style>.mapouter{position:relative;text-align:right;width:100%;height:200px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:200px;}.gmap_iframe {height:200px!important;}
    </style>
  </div>

  <%# BEGIN BC EDIT - add library hours from libcal API%>
  <div class="row">
    <div class="col-sm-12">
      <h3><%= t('brand.welcome_hours') %></h3>
    </div>
  </div>
  <div id="s-lc-whw507"></div>   
  <%#END BC EDIT%>

    <% ASUtils.find_local_directories('public/views/_welcome_addition.html.erb').each do |template| %> 
        <%= render(:file => template, :locals => {:record => record}) if File.exists?(template) %>
    <% end %>