<%#
  # most recent file version: v3.2.0
  # https://github.com/archivesspace/archivesspace/blob/v3.2.0/public/app/views/pdf/_publication_statement.html.erb
%>

<div class="repository-information">
    <div class="repository-name"><%= repository_name %></div>

    <div class="repository-address">
        <% Array(repository_information['address']).each do |line| %>
            <div class="repository-address-line"><%= line %></div>
        <% end %>

        <% address_properties = ['city', 'region', 'post_code'] %>
        <% if address_properties.any? {|attr| repository_information[attr]} %>
            <div class="repository-address-line"><%= address_properties.map {|attr| repository_information[attr]}.join(', ') %></div>
        <% end %>
    </div>

    <%# BEGIN BC EDIT - Include telephone number. %>
    <% if repository_information['telephones'] && repository_information['telephones'].length %>
        <% repository_information['telephones'].each do |tel| %>
            <% if tel.key?("number_type") && tel.key?("number") %>
                <div class="repository-telephone"><span class="repository-telephone-type"><%= tel["number_type"] %></span> Number: <%= tel["number"] %></div>
            <% end %>
        <% end %>
    <% end %>
    <%# END BC EDIT %>

    <% if repository_information['email'] %>
        <div class="repository-email"><a href="mailto:<%= repository_information['email'] %>"><%= repository_information['email'] %></a></div>
    <% end %>
    <% if repository_information['top']['url'] %>
        <div class="repository-url">
            URL: <a href="<%= repository_information['top']['url'] %>"><%= repository_information['top']['url'] %></a>
        </div>
    <% end %>
</div>
